<div>
    <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.mail}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">ShopId</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.shopId}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Cancel Url</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.cancelUrl}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Success Url</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.successUrl}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Return Url</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.returnUrl}}</p>
                </div>
            </div>
            
          </div>
        </div>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  
                  <th scope="col">Payment Method</th>
                  <th scope="col">Subscribe/Unsubscribe</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let method of paymentMethods">
                  
                  <td>{{method.name}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" *ngIf="method.canSubscribe" (click)=subscribe(method)>Subscribe</button>
                    
                  <button type="button" class="btn btn-danger" *ngIf="!method.canSubscribe" (click)="unsubscribe(method)">Unsubscribe</button>
                  </td>
                </tr>
                
                
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
