<article class="card">
	<div class="container">
		<div class="card-title">
			<h2>Payment</h2>
			<h3>Total amount: {{amount}}$</h3>
		</div>
		<div class="card-body">
			<div class="payment-type">
				<h4>Choose payment method below</h4>
				<div class="types flex justify-space-between">
					<div class="type" [ngClass]="{'selected' : selectedBankCard}" (click)="bankCardPaymentSelected()">
						<div class="logo">
							<!-- <i class="fa-solid fa-credit-card"></i> -->
						</div>
						<div class="text">
							<p>Pay with Credit Card</p>
						</div>
					</div>
					<div class="type" [ngClass]="{'selected' : selectedPaypal}" (click)="paypalPaymentSelected()">
						<div class="logo">
							<!-- <i class="fa-regular fa-credit-card"></i> -->
						</div>
						<div class="text">
							<p>Pay with PayPal</p>
						</div>
					</div>
					<div class="type" [ngClass]="{'selected' : selectedCrypto}" (click)="cryptoPaymentSelected()">
						<div class="logo">
							<!-- <i class="fa-brands fa-bitcoin"></i> -->
						</div>
						<div class="text">
							<p>Pay with Crypto</p>
						</div>
					</div>
                    <div class="type" [ngClass]="{'selected' : selectedQr}" (click)="qrPaymentSelected()">
						<div class="logo">
							<!-- <i class="fa-brands fa-bitcoin"></i> -->
						</div>
						<div class="text">
							<p>Pay with QR Code</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="card-actions flex justify-space-between">
			<div class="flex-start">
				<button class="button button-secondary">Return to Store</button>
			</div>
			<div class="flex-end">
				<button class="button button-primary" (click)="proceed()">Proceed</button>
			</div>
		</div>
	</div>
	<div *ngIf="selectedBankCard">
		<br>
		<label>Merchant ID (TODO: obrisati kada se uradi autentifikacija)</label>
		<br>
		<input name="merchantId" [(ngModel)]="merchantId" type="text" style="width: 600px;">
	</div>
</article>

