<br />
<h1 style="display: flex; margin: auto; justify-content: center">
  Web shop registration for payment via Crypto
</h1>
<div style="margin: 10px">
  <div
    class="example-container"
    style="margin: auto; display: flex; justify-content: center"
  >
    <form class="example-form" class="relative mb-3">
      <mat-form-field appearance="fill" class="border-0 px-3 py-3">
        <mat-label>Enter API Token</mat-label>
        <input
          matInput
          type="text"
          name="merchantId"
          [(ngModel)]="addingPaymentData.paymentApiClientId"
          style="width: 400px"
        /> </mat-form-field
      ><br />

      <button
        mat-raised-button
        color="primary"
        style="margin: auto; justify-content: center; display: flex"
        (click)="addCryptoMethod()"
      >
        Submit
      </button>
    </form>
  </div>
</div><p>register-crypto-payment works!</p>
