<div>
    <h1>TODO: Prodavac unosi merchant podatke</h1>
    <div style="margin: auto;">
        <input type="text" placeholder="Merchant ID" name="merchantId" [(ngModel)]="merchantId" style="margin: auto; margin-bottom: 10px; display: flex; width: 400px;">
        <input type="password" placeholder="Merchant password" name="merchantPassword"  [(ngModel)]="merchantPassword"  style="margin: auto; margin-bottom: 10px; display: flex; width: 400px;">
        <button type="submit" style="margin: auto; display: flex; margin-bottom: 10px;">Ok</button>
    </div>
</div>