<div class="container mx-auto px-4 h-full" >
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4" style="padding-top: 150px; padding-bottom: 150px;" >
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0" style="padding-bottom: 20px;">
          
          <!-- <div class="flex-auto px-4 lg:px-10 py-10 pt-0" >
            <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
            <br>
            
            <form [formGroup]="form">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Email
                </label>
                <input
                  formControlName="email"
                  type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Email"
                />
              </div>
  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Password
                </label>
                <input
                  formControlName="password"
                  type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password"
                />
              </div>
              
  
              <div class="text-center mt-6">
                <button
                  (click)="onSubmit()"
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button"
                >
                  Sign In
                </button>
              </div>

              <div class="text-center mt-6" (click)="signup()">
                <button
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button"
                >
                  Sign Up?
                </button>
              </div>
            </form>
            </div> -->
            <div class="text-center mt-6" (click)="addNewPaymentOption()">
              <button
                class="bg-blueGray-800  text-white active:bg-gray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
              >
                Add new payment option
              </button>
            </div>

            <div class="text-center mt-6" (click)="selectPaymentOption()" >
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
              >
               Select payment option
              </button>
            </div>  

        </div>
  
      </div>
    </div>
  </div>
  
  